@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #374151;
    --overlay: #00000060;
    --border: #e2e7ed;
    --logo-primary: #202020;
    --logo-secondary: #ffc800;
    --primary: #ffc800;
    --secondary: #ffe480;
    --primary-foreground: #374151;
    --secondary-foreground: #6b7280;
    --muted: #e4e6ea;
    --muted-foreground: #9ba2ae;
    --receive: #22c45e;
    --receive-foreground: #dbfbe6;
    --sent: #f97316;
    --sent-foreground: #ffedd5;
    --destructive: #ef4444;
    --destructive-foreground: #fee2e2;
    --pending: #3b82f6;
    --pending-foreground: #dbeafe;
    --info: #1d4ed8;
    --info-foreground: #eff6ff;
    --info-border: #dbeafe;
    --warning: #c2410c;
    --warning-foreground: #fff7ed;
    --warning-border: #ffedd5;
    --error: #b91c1c;
    --error-foreground: #fef2f2;
    --error-border: #fee2e2;
  }

  .dark:root {
    --background: #0a0b0c;
    --foreground: #fafafb;
    --overlay: #ffffff20;
    --border: #e2e7ed;
    --logo-primary: #ffffff;
    --logo-secondary: #ffe480;
    --primary: #ffc800;
    --secondary: #ffe480;
    --primary-foreground: #374151;
    --secondary-foreground: #bfbfc2;
    --muted: #242424;
    --muted-foreground: #7e7e88;
    --receive: #14b8a6;
    --receive-foreground: #022c22;
    --sent: #f59e0b;
    --sent-foreground: #451a03;
    --destructive: #b41818;
    --destructive-foreground: #1c0202;
    --pending: #0ea5e9;
    --pending-foreground: #082f49;
    --info: #93c5fd;
    --info-foreground: #1e3a8a;
    --info-border: #3659b9;
    --warning: #fdba74;
    --warning-foreground: #7c2d12;
    --warning-border: #c16242;
    --error: #fca5a5;
    --error-foreground: #7f1d1d;
    --error-border: #c24141;
  }
}
